:root {
	/* LIGHT MODE  */
	--bodyText: #222121;
	--bodyBg: #cccccc;
	--containerBg: #fff;
	--sectionsBg: #fff;
	--accent: #0769db;
	--accentHover: #3694ff;
	--btnColor: #fff;
	--twitter: #2380ee;
	--google: #f62626;
	--github: #3b3838;
	--apple: #000000;
	--placeholderText: #222121;
}

*,
::before,
::after,
li {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

/* utilities */
a {
	text-decoration: none;
	color: inherit;
}

.icon {
	width: 50%;
	aspect-ratio: 1/1;
}

body {
	font-family: "Inter", sans-serif;
	background-color: var(--bodyBg);
	color: var(--bodyText);
}

li {
	list-style: none;
}

/* main content */
header {
	font-family: 'Jost', sans-serif;
	font-size: 0.9rem;
}

.logo_heading {
	font-size: 1.5rem;
	padding: 0.15rem 0.7rem;
	background-color: var(--apple);
	color: var(--btnColor);
	border-radius: 3px;
	font-weight: 700;
}

.desktop_menu {
	display: none;
}
.mobile_menu {
	background-color: var(--sectionsBg);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	border-bottom: 0.5px solid var(--placeholderText);
}
.mobile_nav {
	position: absolute;
	top: 0%;
	right: 0;
	height: 100vh;
	width: 70%;
	display: none;
	transition: all 800ms ease-in-out;
	/* transform: translateX(100%); */
	margin-top: 5rem;
	padding: 1.5rem 0 1.5rem 1rem;
	background-color: var(--sectionsBg);
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
}

.mobile_nav li a {
	color: var(--apple);
	font-weight: bold;
	padding: 1rem;
	display: block;
}
.showMobileNav {
	display: block;
	transform: translateX(0);
	transition: animation 800ms ease;
	/* animation: slideIn 800ms ease forwards; */
}

@keyframes slideIn {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

/* hamburger button */
.menu_hamburger {
	width: 30px;
	height: 17px;
	position: relative;
	transform: rotate(0deg);
	transition: transform 300ms ease-in-out;
	cursor: pointer;
}
.menu_hamburger span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #000;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: transform 300ms ease-in-out;
}
.menu_hamburger span:nth-child(1) {
	top: 0px;
}
.menu_hamburger span:nth-child(2) {
	top: 8px;
}
.menu_hamburger span:nth-child(3) {
	top: 17px;
}
.menu_hamburger.open span:nth-child(1) {
	top: 8px;
	transform: rotate(135deg);
}
.menu_hamburger.open span:nth-child(2) {
	opacity: 0;
	/* left: -60px; */
}
.menu_hamburger.open span:nth-child(3) {
	top: 8px;
	transform: rotate(-135deg);
}

/* main section */
.left-aside-container,
.right-aside-container {
	display: none;
}

.article-nav {
	display: flex;
	align-items: center;
	padding: 0.5rem;
	background-color: var(--sectionsBg);
}

.article-nav a {
	margin-right: 1.2rem;
	padding: 0.5rem;
	font-size: 1.125rem;
}

.article-nav__active, .pagination-active {
	font-weight: 900;
}

article {
	background-color: var(--sectionsBg);
	color: var(--bodyText);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 0.5rem;
	padding: 1rem;
	border: 1px solid var(--bodyText);
	margin-bottom: 0.4rem;
}

.author-details {
	display: flex;
	gap: 0.5rem;
}

.article__left-side {
	width: 14%;
}

.article-img {
	width: 100%;
	border-radius: 80px;
	object-fit: cover;
	aspect-ratio: 1/1;
	border: 2px solid var(--accentHover);
}

.article__author-name-date {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.author-name,
.article-tags {
	font-size: 0.875rem;
	font-weight: 500;
}

.date {
	font-size: 0.75rem;
}

.article-title {
	font-size: 1.25rem;
	font-weight: 500;
	margin-bottom: 0.2rem;
}

.article-heading {
	font-weight: 700;
	font-size: 1.25rem;
	margin-bottom: 0.25rem;
}

.article-tags {
	display: flex;
	gap: 0.5rem;
	color: rgba(var(--bodyText), 0.05);
}

.article-tags a {
	padding: 0.4rem;
}

.article-engagement,
.left__article-engagement,
.right__article-engagement {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.875rem;
}

.left__article-engagement {
	justify-content: flex-start;
}

.article-engagement {
	justify-content: flex-start;
}

.left__article-engagement a {
	display: flex;
	align-items: center;
	gap: 0.4rem;
	font-weight: normal;
	width: 20%;
	margin-right: 1rem;
}

.article-engagement a:focus {
	outline: none;
}

.desktop-engagement-details {
	display: none;
}

.right__article-engagement {
	justify-content: flex-end;
}

.pagination {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem;
	font-size: 0.875rem;
	padding: 1rem 1rem 1rem 0;
	background-color: var(--sectionsBg);
}

.pagination a:not(:last-child, :first-child) {
	border: 1px solid var(--bodyText);
	padding: 0.5rem 0.8rem;
	border-radius: 0.3rem;
	font-weight: 500;
}

.pagination a:last-child {
	font-weight: 500;
}

/* media queries */
@media screen and (min-width: 768px) {
	.container{
		display: flex;
		gap: 1rem;
	}

	header {
		font-family: "Jost", sans-serif;
		font-size: 1rem;
	}

	.desktop_menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
		background-color: var(--sectionsBg);
		border-bottom: 0.5px solid var(--apple);
	}

	.desktop_menu-rside {
		display: flex;
        align-items: center;
		flex-grow: 1;
		gap: 1rem;
	}
	.desktop_nav ul {
		display: flex;
		margin: 0.4rem 0;
	}
	.desktop_nav ul a {
		margin-left: 1rem;
		color: var(--bodyText);
		line-height: 1.188rem;
		font-weight: 500;
		font-family: "Inter", sans-serif;
	}
	.desktop_nav ul a:hover {
		color: var(--accent);
	}
	a.create_acct_btn {
		background-color: var(--accent);
		color: var(--btnColor) !important;
		padding: 0.6rem 1rem;
		border-radius: 39px;
	}
	a.create_acct_btn:hover {
		background-color: var(--accentHover);
	}

	.search_box {
		display: flex;
        align-items: center;
		width: 60%;
	}

	.search-btn {
		display: flex;
        align-items: center;
		padding: 1.133rem;
		border: none;
		outline: 1px solid black;
		cursor: pointer;
		background-image: url('./Images/search.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 55%;
		border-radius: 0 3px 3px 0;
	}

	.search_box input[type="search"] {
		border: 1px solid var(--bodyText);
		width: 100%;
		border-radius: 3px 0 0 3px;
		padding: 0.6rem 0.4rem;
		font-size: 1rem;
	}

	.search_box input[type="search"]::placeholder {
		color: var(--placeholderText);
	}
	.search_box input[type="search"]:focus {
		outline: none;
	}
	.mobile_menu {
		display: none;
	}

	.aside-icon {
		aspect-ratio: 1/1;
		width: 8%;
	}

	.left-aside-container {
		display: flex;
		flex-direction: column;
		margin: 3.3rem 0 0 1rem;
	}

	.create-acct-btn {
		background-color: var(--accent);
		padding: 0.6rem;
		border: none;
		width: 60%;
		margin: auto;
		color: var(--btnColor);
		font-size: 0.875rem;
		font-weight: 700;
		border-radius: 5rem;
	}

	.left-aside__top-content, .aside-nav {
		width: 95%;
		margin: 0 auto;
		padding: 1rem;
		background-color: var(--containerBg);
	}

	.left-aside__top-content {
		display: flex;
        flex-direction: column;
		gap: 0.8rem;
		text-align: center;
	}

	.aside-nav {
margin-top: 1rem;
height: 100vh;
padding: 1rem 0;
	}

	.left-aside__nav-links a {
		display: flex;
		font-size: 0.875rem;
		font-weight: 600;
		padding: 1rem;
		gap: 0.5rem;
		align-items: center;
	}
}

@media screen and (min-width: 1024px) {
	.desktop_nav ul a {
		margin-left: 1.25rem;
	}

}
