.box{
    text-align: center;
    background:#fff;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    padding:2rem;
}
.flex1{
    display: flex;
    justify-content: flex-start;  
}
.flex2{
    display: flex;
    justify-content: flex-end;  
}
.flex3{
    display: flex;
    justify-content: flex-end; 
}
.title {
	font-family: calibri;
	font-size: 100px;
	color: brown;
	text-align: center;
	font-weight: bold;
}
20:01
h1 { /*h1.welcome*/
	font-family: calibri;
	font-size: 46px;
	color: darkred;
	text-align: center;
	font-weight: bold;
	opacity: 0.9;
}
label {
	font-family: Times New Roman;
	font-size: 33px;
	color: black;
	text-align: center;
	font-weight: bold;
	margin-left: 585px;
}
input {
	font-family: Times New Roman;
	font-size: 40px;
	color: lightgrey;
	text-align: center;
	font-weight: bold;
	box-sizing: 50px;
	margin-left: 430px;
}
hr {
	border-style: solid;
}
.center {
	padding-left: 430px;
}
.right {
	padding-left: 860px;
}
.divi {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  font-size: 22px;
  margin-left: 480px;
}
.Hey {
	margin-left: 350px
}
body {
	 background-image: url('W.jpg') background-size: 100%;
	 background-repeat: repeat;
	 /*background-attachment: fixed;
     background-size: cover;*/
}
.img {
	float: right;
}
span {
	font-family: Times New Roman;
	font-size: 33px;
	color: black;
	text-align: center;
	font-weight: bold;
	margin-left: 585px;
}
















Message Amina Niass



.title {
	font-family: calibri;
	font-size: 100px;
	color: brown;
	text-align: center;
	font-weight: bold;
}
20:01
h1 { /*h1.welcome*/
	font-family: calibri;
	font-size: 46px;
	color: darkred;
	text-align: center;
	font-weight: bold;
	opacity: 0.9;
}
label {
	font-family: Times New Roman;
	font-size: 33px;
	color: black;
	text-align: center;
	font-weight: bold;
	margin-left: 585px;
}
input {
	font-family: Times New Roman;
	font-size: 40px;
	color: lightgrey;
	text-align: center;
	font-weight: bold;
	box-sizing: 50px;
	margin-left: 430px;
}
hr {
	border-style: solid;
}
.center {
	padding-left: 430px;
}
.right {
	padding-left: 860px;
}
.divi {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  font-size: 22px;
  margin-left: 480px;
}
.Hey {
	margin-left: 350px
}
body {
	 background-image: url('W.jpg') background-size: 100%;
	 background-repeat: repeat;
	 /*background-attachment: fixed;
     background-size: cover;*/
}
.img {
	float: right;
}
span {
	font-family: Times New Roman;
	font-size: 33px;
	color: black;
	text-align: center;
	font-weight: bold;
	margin-left: 585px;
}
















Message Amina Niass



.title {
	font-family: calibri;
	font-size: 100px;
	color: brown;
	text-align: center;
	font-weight: bold;
}
20:01
h1 { /*h1.welcome*/
	font-family: calibri;
	font-size: 46px;
	color: darkred;
	text-align: center;
	font-weight: bold;
	opacity: 0.9;
}
label {
	font-family: Times New Roman;
	font-size: 33px;
	color: black;
	text-align: center;
	font-weight: bold;
	margin-left: 585px;
}
input {
	font-family: Times New Roman;
	font-size: 40px;
	color: lightgrey;
	text-align: center;
	font-weight: bold;
	box-sizing: 50px;
	margin-left: 430px;
}
hr {
	border-style: solid;
}
.center {
	padding-left: 430px;
}
.right {
	padding-left: 860px;
}
.divi {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  font-size: 22px;
  margin-left: 480px;
}
.Hey {
	margin-left: 350px
}
body {
	 background-image: url('W.jpg') background-size: 100%;
	 background-repeat: repeat;
	 /*background-attachment: fixed;
     background-size: cover;*/
}
.img {
	float: right;
}
span {
	font-family: Times New Roman;
	font-size: 33px;
	color: black;
	text-align: center;
	font-weight: bold;
	margin-left: 585px;
}
















Message Amina Niass



.title {
	font-family: calibri;
	font-size: 100px;
	color: brown;
	text-align: center;
	font-weight: bold;
}
20:01
h1 { /*h1.welcome*/
	font-family: calibri;
	font-size: 46px;
	color: darkred;
	text-align: center;
	font-weight: bold;
	opacity: 0.9;
}
label {
	font-family: Times New Roman;
	font-size: 33px;
	color: black;
	text-align: center;
	font-weight: bold;
	margin-left: 585px;
}
input {
	font-family: Times New Roman;
	font-size: 40px;
	color: lightgrey;
	text-align: center;
	font-weight: bold;
	box-sizing: 50px;
	margin-left: 430px;
}
hr {
	border-style: solid;
}
.center {
	padding-left: 430px;
}
.right {
	padding-left: 860px;
}
.divi {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  font-size: 22px;
  margin-left: 480px;
}
.Hey {
	margin-left: 350px
}
body {
	 background-image: url('W.jpg') background-size: 100%;
	 background-repeat: repeat;
	 /*background-attachment: fixed;
     background-size: cover;*/
}
.img {
	float: right;
}
span {
	font-family: Times New Roman;
	font-size: 33px;
	color: black;
	text-align: center;
	font-weight: bold;
	margin-left: 585px;
}
















Message Amina Niass



.title {
	font-family: calibri;
	font-size: 100px;
	color: brown;
	text-align: center;
	font-weight: bold;
}
20:01
h1 { /*h1.welcome*/
	font-family: calibri;
	font-size: 46px;
	color: darkred;
	text-align: center;
	font-weight: bold;
	opacity: 0.9;
}
label {
	font-family: Times New Roman;
	font-size: 33px;
	color: black;
	text-align: center;
	font-weight: bold;
	margin-left: 585px;
}
input {
	font-family: Times New Roman;
	font-size: 40px;
	color: lightgrey;
	text-align: center;
	font-weight: bold;
	box-sizing: 50px;
	margin-left: 430px;
}
hr {
	border-style: solid;
}
.center {
	padding-left: 430px;
}
.right {
	padding-left: 860px;
}
.divi {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  font-size: 22px;
  margin-left: 480px;
}
.Hey {
	margin-left: 350px
}
body {
	 background-image: url('W.jpg') background-size: 100%;
	 background-repeat: repeat;
	 /*background-attachment: fixed;
     background-size: cover;*/
}
.img {
	float: right;
}
span {
	font-family: Times New Roman;
	font-size: 33px;
	color: black;
	text-align: center;
	font-weight: bold;
	margin-left: 585px;
}
















Message Amina Niass



.title {
	font-family: calibri;
	font-size: 100px;
	color: brown;
	text-align: center;
	font-weight: bold;
}
20:01
h1 { /*h1.welcome*/
	font-family: calibri;
	font-size: 46px;
	color: darkred;
	text-align: center;
	font-weight: bold;
	opacity: 0.9;
}
label {
	font-family: Times New Roman;
	font-size: 33px;
	color: black;
	text-align: center;
	font-weight: bold;
	margin-left: 585px;
}
input {
	font-family: Times New Roman;
	font-size: 40px;
	color: lightgrey;
	text-align: center;
	font-weight: bold;
	box-sizing: 50px;
	margin-left: 430px;
}
hr {
	border-style: solid;
}
.center {
	padding-left: 430px;
}
.right {
	padding-left: 860px;
}
.divi {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  font-size: 22px;
  margin-left: 480px;
}
.Hey {
	margin-left: 350px
}
body {
	 background-image: url('W.jpg') background-size: 100%;
	 background-repeat: repeat;
	 /*background-attachment: fixed;
     background-size: cover;*/
}
.img {
	float: right;
}
span {
	font-family: Times New Roman;
	font-size: 33px;
	color: black;
	text-align: center;
	font-weight: bold;
	margin-left: 585px;
}
















Message Amina Niass



.title {
	font-family: calibri;
	font-size: 100px;
	color: brown;
	text-align: center;
	font-weight: bold;
}
20:01
h1 { /*h1.welcome*/
	font-family: calibri;
	font-size: 46px;
	color: darkred;
	text-align: center;
	font-weight: bold;
	opacity: 0.9;
}
label {
	font-family: Times New Roman;
	font-size: 33px;
	color: black;
	text-align: center;
	font-weight: bold;
	margin-left: 585px;
}
input {
	font-family: Times New Roman;
	font-size: 40px;
	color: lightgrey;
	text-align: center;
	font-weight: bold;
	box-sizing: 50px;
	margin-left: 430px;
}
hr {
	border-style: solid;
}
.center {
	padding-left: 430px;
}
.right {
	padding-left: 860px;
}
.divi {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  font-size: 22px;
  margin-left: 480px;
}
.Hey {
	margin-left: 350px
}
body {
	 background-image: url('W.jpg') background-size: 100%;
	 background-repeat: repeat;
	 /*background-attachment: fixed;
     background-size: cover;*/
}
.img {
	float: right;
}
span {
	font-family: Times New Roman;
	font-size: 33px;
	color: black;
	text-align: center;
	font-weight: bold;
	margin-left: 585px;
}
















Message Amina Niass



.title {
	font-family: calibri;
	font-size: 100px;
	color: brown;
	text-align: center;
	font-weight: bold;
}
20:01
h1 { /*h1.welcome*/
	font-family: calibri;
	font-size: 46px;
	color: darkred;
	text-align: center;
	font-weight: bold;
	opacity: 0.9;
}
label {
	font-family: Times New Roman;
	font-size: 33px;
	color: black;
	text-align: center;
	font-weight: bold;
	margin-left: 585px;
}
input {
	font-family: Times New Roman;
	font-size: 40px;
	color: lightgrey;
	text-align: center;
	font-weight: bold;
	box-sizing: 50px;
	margin-left: 430px;
}
hr {
	border-style: solid;
}
.center {
	padding-left: 430px;
}
.right {
	padding-left: 860px;
}
.divi {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  font-size: 22px;
  margin-left: 480px;
}
.Hey {
	margin-left: 350px
}
body {
	 background-image: url('W.jpg') background-size: 100%;
	 background-repeat: repeat;
	 /*background-attachment: fixed;
     background-size: cover;*/
}
.img {
	float: right;
}
span {
	font-family: Times New Roman;
	font-size: 33px;
	color: black;
	text-align: center;
	font-weight: bold;
	margin-left: 585px;
}
li {
	list-style-type: none;
    display: inline-block;
    padding: 20px;
    font-size: 23px;
    font-family: Calibri;
    opacity: 0.9;
    background-color: #C6B99D;
}
20:15
li:hover a {
	color: #C6B99D;
	background-color: brown;
	padding: 30px;
	transition: 0.3s all;
}
20:16
a {
	color: brown;
	text-decoration: none;
}





li {
	list-style-type: none;
    display: inline-block;
    padding: 20px;
    font-size: 23px;
    font-family: Calibri;
    opacity: 0.9;
    background-color: #C6B99D;
}
20:15
li:hover a {
	color: #C6B99D;
	background-color: brown;
	padding: 30px;
	transition: 0.3s all;
}
20:16
a {
	color: brown;
	text-decoration: none;
}


li {
	list-style-type: none;
    display: inline-block;
    padding: 20px;
    font-size: 23px;
    font-family: Calibri;
    opacity: 0.9;
    background-color: #C6B99D;
}
h1.font {
	font-family: calibri;
	font-size: 46px;
	color: darkred;
	text-align: center;
	font-weight: bold;
	opacity: 0.9;
}

hr{
	border-style: solid;
}



li:hover a {
	color: #C6B99D;
	background-color: brown;
	padding: 30px;
	transition: 0.3s all;
}
a {
	color: brown;
	text-decoration: none;
}

.box h3{
    color:var(--black);
    font-size: 40px;
    text-align: center;
}
.box span{
    color:var(--green);
    font-size: 1.5rem;
}
.box .share{
    padding-top: 2rem;
}
.box .share a{
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color:var(--green);
    border-radius: .5rem;
    border:var(--border);
    margin:.3rem;
}












box{
    text-align: center;
    background:#fff;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    padding:2rem;
}
17:54
.box h3{
    color:var(--black);
    font-size: 2.5rem;
}
17:54
.box span{
    color:var(--green);
    font-size: 1.5rem;
}
New
17:54
.box .share{
    padding-top: 2rem;
}
17:54
.box .share a{
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color:var(--green);
    border-radius: .5rem;
    border:var(--border);
    margin:.3rem;
}












box{
    text-align: center;
    background:#fff;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    padding:2rem;
}
17:54
.box h3{
    color:var(--black);
    font-size: 2.5rem;
}
17:54
.box span{
    color:var(--green);
    font-size: 1.5rem;
}
New
17:54
.box .share{
    padding-top: 2rem;
}
17:54
.box .share a{
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color:var(--green);
    border-radius: .5rem;
    border:var(--border);
    margin:.3rem;
}












box{
    text-align: center;
    background:#fff;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    padding:2rem;
}
17:54
.box h3{
    color:var(--black);
    font-size: 2.5rem;
}
17:54
.box span{
    color:var(--green);
    font-size: 1.5rem;
}
New
17:54
.box .share{
    padding-top: 2rem;
}
17:54
.box .share a{
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color:var(--green);
    border-radius: .5rem;
    border:var(--border);
    margin:.3rem;
}












box{
    text-align: center;
    background:#fff;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    padding:2rem;
}
17:54
.box h3{
    color:var(--black);
    font-size: 2.5rem;
}
17:54
.box span{
    color:var(--green);
    font-size: 1.5rem;
}
New
17:54
.box .share{
    padding-top: 2rem;
}
17:54
.box .share a{
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color:var(--green);
    border-radius: .5rem;
    border:var(--border);
    margin:.3rem;
}












box{
    text-align: center;
    background:#fff;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    padding:2rem;
}
17:54
.box h3{
    color:var(--black);
    font-size: 2.5rem;
}
17:54
.box span{
    color:var(--green);
    font-size: 1.5rem;
}
New
17:54
.box .share{
    padding-top: 2rem;
}
17:54
.box .share a{
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color:var(--green);
    border-radius: .5rem;
    border:var(--border);
    margin:.3rem;
}












box{
    text-align: center;
    background:#fff;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    padding:2rem;
}
17:54
.box h3{
    color:var(--black);
    font-size: 2.5rem;
}
17:54
.box span{
    color:var(--green);
    font-size: 1.5rem;
}
.box .share{
    padding-top: 2rem;
}

.box .share a{
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color:var(--green);
    border-radius: .5rem;
    border:var(--border);
    margin:.3rem;
}












box{
    text-align: center;
    background:#fff;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    padding:2rem;
}
.box h3{
    color:var(--black);
    font-size: 2.5rem;
}
.box span{
    color:var(--green);
    font-size: 1.5rem;
}

.box .share{
    padding-top: 2rem;
}
.box .share a{
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color:var(--green);
    border-radius: .5rem;
    border:var(--border);
    margin:.3rem;
}

form .box{
    width: 100%;
    margin:.7rem 0;
    border-radius: .5rem;
    border:var(--border);
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    padding: 1rem;
}






form .btn{
    padding:1rem 4rem;
}






















